
div {
    height: 100px;
}



h1 {
    color: rgb(167, 100, 184);
    background-color: rgb(241, 207, 120);
    background:linear-gradient(0deg);
    text-align: center;
    text-shadow: 3px 2px 6px rgba(245, 140, 19, 0.6);
    text-shadow: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 500px;
box-shadow: 1px 1px 10px 1px;
}

p {
    color: blue;
    front-size: 30px;
}

h4 {
    color: blueviolet;
}


.destacados {
    background: rgb(255,248,17);
    background: linear-gradient(63deg, 
    rgba(255,248,17,1) 0%, 
    rgba(235,171,171,1) 100%);
    width: 350px;
    height: 300px;
    margin: 0px;
    padding: 50px;
    box-shadow: 2px 5px 5px black;
    border-radius: 1px 1px 1px 1px;

}

h2 {
    color: rgb(180, 107, 199);
    text-align: center;
    text-transform: uppercase;

}

#caja {
    background: rgb(255,248,17);
    background: linear-gradient(63deg, 
    rgba(255,248,17,1) 0%, 
    rgba(235,171,171,1) 100%);
    margin-top: 50px;
    width: 350px;
    height: 350px;
    box-shadow: 2px 5px 5px black;
    border-radius: 13px 13px 13px 13px;
}

